---
Checks: >-
  -*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-isolate-declaration,
  readability-qualified-auto,
  readability-redundant-access-specifiers,
  readability-redundant-control-flow,
  readability-redundant-preprocessor,
  readability-static-accessed-through-instance,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-constructor-init,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  bugprone-macro-parentheses,
  bugprone-string-constructor,
  bugprone-string-integer-assignment
WarningsAsErrors: ''
HeaderFilterRegex: '^(.*(/include/1q/|/src/|/tests/).*)$'
FormatStyle: file
SystemHeaders: false
UseColor: false
